@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="align-bottom">IT-Elective ASP.NET</h1>
    <h1 class="align-content-center">I am Earl John Tano</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
